################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Wordlist/bin/Debug/net8.0
/Wordlist/obj
